<h1>Listing keys</h1>

<%= paginate @keys %>

<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :Company_cont, "Name contains" %>
    <%= f.text_field :Company_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link @search, :Company, "Company" %></th>
      <th>Description</th>
      <th><%= sort_link @search, :Number, "Number" %></th>
      <th><%= sort_link @search, :Checkout, "Checkout" %></th>
      <th><%= sort_link @search, :Checkin, "Checkin" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @keys.each do |key| %>
      <tr>
        <td><%= key.Company %></td>
        <td><%= key.Description %></td>
        <td><%= key.Number %></td>
        <td><%= key.Checkout %></td>
        <td><%= key.Checkin %></td>
        <td><%= link_to 'Show', key %></td>
        <td><%= link_to 'Edit', edit_key_path(key) %></td>
        <td><%= link_to 'Destroy', key, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Key', new_key_path %>
